NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=thinkwavejwtsikrit123
BOOTSTRAP_SECRET=sopiradminsecret123

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=thinkwave
DB_SSL=false
DB_SSL_CA_PATH=

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=thinkwave.pdm@gmail.com
SMTP_PASS=upnv gjib lfzx uvau
SMTP_FROM="ThinkWAVE Team <thinkwave.pdm@gmail.com>"

OTP_DEV_FALLBACK=false
TEACHER_GRACE_SEC=30